@font-face {
  font-family: Nekst-Light; 
  src: url(sourse/fonts/Nekst-Light.otf); 
}

@font-face {
  font-family: Nekst-Bold; 
  src: url(sourse/fonts/Nekst-Bold.otf);
}

@font-face {
  font-family: Nekst-Thin; 
  src: url(sourse/fonts/Nekst-Thin.otf);
}

@font-face {
  font-family: Comic Sans MS;
  src: url(sourse/fonts/comic.ttf);
}

#wrapper {
  max-width: 2060px;
  margin: auto;
}

body {
  height: 100%;
  margin: 0;
}

/* хедер */
header {
  padding: 20px 0;
  text-align: center;
}

header li {
  display: inline-block;
  width: 100px;
  height: 50px;
  vertical-align: top;
  align-items: initial;
}

header li p {
  text-transform: uppercase;
  font-size: 12pt;
  text-align: left;
  margin-top: -10px;
}

img.logo {
  margin-top: -10px;
  margin-left: 10px;
  width: 80%;
}
/* меню */
nav {
  width: 100px;
  text-align: left;
}

left-menu li {
  display: inline-block;
  text-align: left;
  margin: 0;
}

nav ul {
  padding-inline-start: 20px;
  margin-top: 150px;
}

nav li {
  list-style-type: none;
  list-style-position: inside;
  font-size: 12pt;
  padding: 15px;
}

nav li a {
  text-align: left;
  color: black;
}

/* контент */
main {
  float: inline-start;
  min-height: 590px;
  max-height: 100%;
  margin-top: -300px;
  margin-left: 150px;
}

.content {
  flex: 1 0 auto;
}

.text_content {
  font-size: 14pt;
}

.table_text {
  font-size: 14pt;
}

.text_content p {
  margin-top: 0px;
  text-indent: 55px;
  text-align: justify;
}

.table_text p {
  text-indent: 55px;
  text-align: justify;
}

.text_content p a {
  color: black;
}

.bblock {
  float: left;
  line-height: 35px; 
  text-align: center;
}
.wrap :last-child {
  margin-right: 0px;
}
/* footer */

footer {
  min-height: 90px;
  max-height: 50%;
}

.footer_block {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 10%;
  margin-top: 40px;
}

.wrap :last-child {
  margin-right: 0px; /*Убираем поле последнего div-а*/
}

.footer_block a {
  color: rgb(255, 255, 255);
}
/* таблица */
table {
  margin-top: -2%;
  font-size: 18px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 3px;
  background: #c4f4fc;
  color: #3b453b;
  border: 4px solid #7ebfa1;
}
th {
  padding: 10px;
}
td {
  padding: 10px;
}
/* обр связь */
#send_input {
  border: 2px solid #5aa07a;
  background: #ffffff;
  color: #306136;
  font-size: 18px;
}
#send_input:focus {
  outline: none;
  background: #c4fcdb;
}
/* кнопки для изменения стиля таблицы */
.inp {
  margin-top: 1%;
}

.inp_font {
  margin-top: -3%;
}

.inp_style {
  border: 2px solid #5aa07a;
  background: #ffffff;
  width: 120px;
  color: #306136;
  font-size: 16px;
}

.inp_style:focus {
  outline: none;
  border: 2px solid #4859a7;
  background: #7779da;
  color: #ffffff;
}

#input-id:focus {
  outline: none;
  background: #c4fcdb;
}
