#wrapper {
	max-width: 2060px;
	margin: auto;
}

header {
  padding: 20px 0;
  text-align: center;
}

header li{
  display : inline-block;
  width : 100px;
  height: 50px;
  vertical-align: top;
  align-items: initial;
}

header li p{
  text-transform: uppercase;
  font-size: 12pt;
  text-align: left;
  font-family: Nekst-Medium;
  margin-top: -10px;
}

img.logo {
  margin-top: -10px;
  margin-left: 10px;
  width: 80%;
}

/* меню */

nav{
  width: 100px;
  text-align: left;
}

left-menu li {
  display: inline-block;
  text-align: left;
	/* padding: 10px 30px; */
	margin: 0;
}

nav ul{
  /* list-style-type: none; */
  padding-inline-start: 20px;
  margin-top: 150px;
}


nav li {
  list-style-type: none;
	list-style-position: inside;
	font: 12pt Nekst-Medium;
	padding: 15px;
}

nav li a{
  text-align: left;
  /* text-decoration: none; */
  color: black;
}

/* контент */
aside{
  /* display: inline-block; */
  float: inline-start;
  height: 590px;
  margin-top: -300px;
  margin-left: 150px;
}

blockquote {
	margin: 0;
	padding: 10px 20px;
}

.text_content{
  font-size: 14pt;
  font-family: Nekst-regular;
}

.text_content p{
  margin-top: 0px;
  text-indent: 55px;
  text-align: justify;
}

.text_content p a{
  color: black;
}

wrap {
  width: 1310px;/*фиксируем ширину обертки*/
  margin: 0 auto;/*центрируем ее*/
  background: darkgray;
  height: 120px;/*Задаем высоту обертки*/
}

.bblock {
  float: left; /*Задаем обтекание*/
  line-height: 35px;/*Высота строки +  верт. центрирования текста*/
  font-size: 20pt;
  /* background: dodgerblue; */
  font-family: Old Classic;
  color: rgb(0, 0, 0);
  width: 306px; /*Фиксируем ширину блока*/
  margin-right: 5px;
  text-align: center; /*Центрируем текст по горизонтали*/
}
.wrap :last-child {
  margin-right: 0px;/*Убираем поле последнего div-а*/
}
/* footer */
footer {
	background: #141838;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 1960px;
	margin: auto;
	/* padding: 10px 0; */
	height: 120px;
}

wrap_footer {
  width: 1310px;/*фиксируем ширину обертки*/
  margin: 0 auto;/*центрируем ее*/
  height: 120px;/*Задаем высоту обертки*/
}

.footer_block {
  margin-left: 30px;
  margin-top: 80px;
  float: left; /*Задаем обтекание*/
  line-height: 10px;/*Высота строки +  верт. центрирования текста*/
  font-size: 10pt;
  /* background: dodgerblue; */
  font-family: Nekst-Thin;
  color: rgb(255, 255, 255);
  width: 340px; /*Фиксируем ширину блока*/
  margin-right: 110px;
  text-align: center; /*Центрируем текст по горизонтали*/
}

.footer_block :last-child {
  margin-right: 0px;/*Убираем поле последнего div-а*/
}

.footer_block a{
  color: rgb(255, 255, 255);
}

/* таблица */

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: left;
  border-collapse: separate;
  border-spacing: 5px;
  background: #c4e3fc;
  color: #656665;
  border: 6px solid #84ade2;
  /* border-radius: 20px; */
  }
  th { 
  font-size: 18px;
  padding: 10px;
  }
  td {
  /* background-color: #F5D7BF; */
  padding: 10px;
  }

  /* обр связь */


a:hover {
  text-decoration: underline;
  font-family: Nekst-regular;
}

input {
  border: none;
  font-family: Nekst-regular;
	font-size: 14px;
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

#login {
	margin: 150px auto;
	width: 280px;
}

#login form input {
	height: 50px;
	outline:none;
}

#login form input[type="text"], input[type="password"] {
	background-color: #77ba96;
	color: #1b4a30;
	padding: 0 16px;
	width: 248px;
}

#login form input:focus {
	color:#fff;
}

#login form input[type="submit"] {
	background-color:#373e75;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	width: 280px;
}

#login form input[type="submit"]:hover {
	background-color: #7cbcc7;
}

